:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  /* display: flex; */
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h4 {
  margin-top: 10px;
  margin-bottom: 3px;
}

button {
  /* border-radius: 8px; */
  border: 1px solid #ccc;
  padding: 0.4em 0.75em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  /* transition: border-color 0.25s; */
}
/* button:hover { */
  /* border-color: #646cff; */
/* } */

table {
  width: 100%;
  margin-top: 1rem;
  margin-top: 9rem;
  scroll-behavior: smooth;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table td {
  padding: 6px;
  text-align: left;
  font-size: 14px;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 0.9rem;
}

.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 100%;
  /* padding-block: 2rem; */
  /* padding-inline: 1rem; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  overflow-x: scroll;
}

.header {
  width: 100%;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  gap: 0.3rem;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 1;
  padding-bottom: 5px;
}

#countries button.active, #pagination button.active {
  background-color: #91adff;
  color: #fff;
  border-color: #91adff;
}

.search-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form {
  display: flex;
  gap: 0.5rem;
}

.buttons-list {
  display: flex;
  justify-content: space-between;
}
 
#error {
  margin-top: 6rem;
}

.pagination-container {
  width: clamp(200px, 45%, 1000px);
}

.columns-btn {
  width: fit-content;
}

.columns-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}

.columns-modal.show {
  z-index: 2;
  display: block;
  align-content: center;
  gap: 0.5rem;
}

/* .columns-container { */
/*   display: none; */
/* } */

.columns-modal.show .columns-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 250px;
  background-color: #fff;
  z-index: 3;
  border: 1px solid #ccc;
  padding: 0.5rem; 
  margin-inline: auto;
  padding-inline: 0.5rem;
}

.columns-container label {
  display: flex;
  gap: 0.1rem;
  width: 100%;
  padding: 0.2rem;
}

.columns-container label:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  border-radius: 3px;
}
